@import url('https://fonts.cdnfonts.com/css/perpetua-titling-mt');

body{
    background-color: #fff2e3;
}

.login-header{
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    padding-top: 10px;
    
    justify-content: center;
    font-weight: normal;
    align-items: center;

  
    
  
}

.login-header h1{
   
    margin: 1rem;
    font-weight: normal;
}

.login-header img{
    height: 4rem;
}

.main{
    display: flex;
    flex-direction: row;
  
    height: 600px;
    margin-top: 20px;
}

.description-container{
   
    display: flex;
   
 
    height: 100%;
    width: 50%;
    flex-grow: 1;
    flex-direction: column;    
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
    animation: slideIn 0.7s ease-in-out;
    
    

}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: none;
    }
    
}

.description-container h2{
    font-size: 3.5rem;
    font-weight: normal;
    
}

.pink{
    color:#D10058;
}

.login-panel-container{
 
    width: 50%;
    flex-grow: 2;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;

}


.login-panel{
    background-color: white;

    height: 500px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px black;
    border: 0.5px black solid;
    flex-direction: row;
    display: flex;
    overflow: hidden;

}

.login, .sign-up{
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 400px;
    height: 100%;
    transition: transform ease-in-out 0.4s; 
    
}

.login h3, .sign-up h3{
    font-weight: normal;
    margin-top: 20px;
    font-size: 1.8rem;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input-label{
    font-size: 1.1rem;
    text-align: left;
    display:block;
    margin-left: 35px;
}

.login input, .sign-up input{
    display: block;
    width: 340px;
    margin-left: 30px;
    padding: 5px;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 1rem;
    height: 40px;
    padding-right: 45px;
    position: relative;
   
}

.invalidInput{
    background-color: #ff050518;
}

.sign-up-button:hover{
    cursor: pointer;

}

.pointer-on-hover:hover{
    cursor: pointer;
}


.shiftLeft{
    transform: translate(-100%);
}

.barContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 25px;


}

.bar{
    background-color: black;
    height: 2px;
    width: 150px;
}

.error-modal{
    width: 500px;
    height: 100px;
    background-color: white;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
    font-size: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    top:20%;
    z-index: 3;
    padding-right: 40px;
}
.modal-active{
    animation: modal-slide-in 300ms ease-in-out;

}

@keyframes modal-slide-in{
    0%{
        opacity: 0;
        top:30%;

    }
    100%{
        opacity: 100%;
        top:20%
    }
}

@media screen and (max-width: 1050px) {
    .description-container{
        padding-left: 30px;
        padding-right: 5px;
        align-items: flex-start;
    }

    .login-panel-container{
        padding-left: 5px;
    }
    
   
    
}

@media screen and (max-width: 840px) {
    .description-container{
        display: none;
    }

    .login-panel-container{
        justify-content: center;
    }

}

